<div><ng4-loading-spinner> </ng4-loading-spinner></div>
 <div class="main-content" style="margin-top: 20px;">

<div class="container-fluid">
    <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Users</h4>
                      <button mat-raised-button type="button" class="btn btn-secondary btn-secondary-override" data-backdrop="static"  (click)="this.showModal('new', null)">
                            Add New Us er
                      </button>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                <tr>	                    
                                    <!-- <th>Id</th> -->
                                    <th>Avtar</th>
                                    <th>Name</th>
                                    <th>User Name</th>
                                    <th>Email</th> 
                                    <th>Mobile</th> 
                                    <!-- <th>Date Of Birth</th>  -->
                                    <!-- <th>Gender</th> -->
                                    <th>Actions</th>	                    
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let item of users | paginate: { id: 'listing_pagination',
                                itemsPerPage: 10,
                                currentPage: page,
                                totalItems: totalRec }">
                                        <!-- <td>{{item.id || ' - '}}</td> -->
                                        <td><img src="{{imageUrlFormater(item.imagePath)}}" height="100" width="100"></td>
                                        <td>{{item.name || ' - '}}</td>  
                                        <td>{{item.userName || ' - '}}</td> 
                                        <td>{{item.email || ' - '}}</td>
                                        <td>{{item.mobile_no}}</td>
                                        <!-- <td>{{item.date_of_birth || ' - '}}</td> -->
                                        <!-- <td>{{item.gender || ' - '}}</td> -->                                        
                                        <td class="td-actions text-center">
                                            <button mat-raised-button type="button" (click)="showModal('edit', item)" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button"  class="btn btn-danger btn-link btn-sm btn-just-icon"
                                                mwlConfirmationPopover
                                            [popoverTitle]= "popoverTitle"
                                            [popoverMessage]="popoverMessage"
                                            placement="left"
                                            (confirm)=" deleteUser(item.id)"
                                            (cancle)="cancleClicked = true">
                                            <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                </tr>
                             </tbody>
                          </table>
                          <div>
                            <pagination-controls  id="listing_pagination" maxSize="10" directionLinks="true" (pageChange)="pageChange($event)"
                            autoHide="true"
                            responsive="true"
                            previousLabel=""
                            nextLabel=""
                            style="text-align: right;"></pagination-controls>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div bsModal #addUserModal id="addUserModal" class="modal modal-angular fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <button type="button" class="close" (click)="hideModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="margin-top">
                        User Details
                    </h4>
                    <div class="separator"></div>
                    
                    <form [formGroup]="userForm" class="form-validate form-horizontal" (submit)="submitForm($event)" novalidate="" role="form">
                        <div class="block-center conf-form-padding">
                            <mat-form-field>
                                <input matInput placeholder="Enter name" [formControl]="nameControl" required>
                                <mat-error *ngIf="nameControl.invalid">This field is required</mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput placeholder="Enter UserName" [formControl]="userNameControl" required>
                                <mat-error *ngIf="userNameControl.invalid">This field is required</mat-error>
                            </mat-form-field>
                            <mat-form-field  [hidden]='hidePassword'>
                                <input matInput type="password" placeholder="Enter Password" [formControl]="passwordControl" required>
                                <mat-error *ngIf="passwordControl.invalid">This field is required</mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput placeholder="Enter Email" [formControl]="emailControl" required>
                                <mat-error *ngIf="emailControl.invalid">This field is required</mat-error>
                            </mat-form-field>
                            <!-- <mat-form-field>
                                <input matInput placeholder="Enter Date Of Birth" [formControl]="dobControl">
                                <mat-error *ngIf="dobControl.invalid">This field is required</mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput placeholder="Enter Gender" [formControl]="genderControl">
                                <mat-error *ngIf="genderControl.invalid">This field is required</mat-error>
                            </mat-form-field> -->
                            <mat-form-field>
                                <input matInput placeholder="Enter Mobile" [formControl]="mobileControl">
                                <mat-error *ngIf="mobileControl.invalid">This field is required</mat-error>
                            </mat-form-field>
                            
                        </div>
                        <div>
                            <button class="btn btn-info" type="submit" *ngIf="mode==='new'" >Save</button>
                            <button class="btn btn-info" type="button" *ngIf="mode==='edit'" (click)="updateUser()">Update</button>
                            <button class="btn" type="button" aria-label="Close" (click)="hideModal()">Close</button>
                        </div>
                    </form>                    
                </div>
            </div>
        </div>    
    </div>
