<div><ng4-loading-spinner> </ng4-loading-spinner></div>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="sidenav">
         <div class="login-main-text">
            <h2>Application<br> Login Page</h2>
            <p>Login from here to access.</p>
            <!-- <div class="logo">
                  <a href="#" class="simple-text">
                      <div class="logo-img">
                          <img height="200" src="/assets/img/logo_small.png"/>
                      </div>
                  </a>
              </div> -->
         </div>
      </div>
      <div class="main">
         <div class="col-md-10 col-sm-12">
            <div class="login-form">
               <form [formGroup]="loginForm" (ngSubmit)="login()">
                  <div class="form-group" [ngClass]="{ 'has-error': isSubmitted && formControls.userName.errors }">		  
                     <label>User Name</label>
					 <input type="text" class="form-control" placeholder="Email" formControlName="userName">
					 <div *ngIf="isSubmitted && formControls.userName.errors" class="help-block">
							<div *ngIf="formControls.userName.errors.required">Username is required</div>
					 </div>
                  </div>
                  <div class="form-group" [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
                     <label>Password</label>
					 <input type="password" class="form-control" placeholder="Password" formControlName="password">
					 <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
							<div *ngIf="formControls.password.errors.required">Password is required</div>
					</div>
                  </div>
                  <button type="submit" value="Log in" class="btn btn-black">Login</button>
                 <!-- <button type="submit" class="btn btn-secondary">Register</button> -->
               </form>
            </div>
         </div>
      </div>
